@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.v-radio-group .v-label {
  color: black !important;
  opacity: 1 !important;
}
